<h1>Classification</h1>



<% @classifications.each do |classification| %>

  <p>
    <%= link_to(classification.name, classification_path(classification)) %>
    <%=classification.animals.count%>
  </p>

<% end %>
