

<h1><%= @classification.name %></h1>
 
 <% @classification.animals.sort { |a,b| a.extinction_date <=> b.extinction_date }.each do |animal| %> 

 <li> 
     <%= link_to(animal.name, animal_path(animal)) %>

	 <% if animal.recent? %>    
     <%= image_tag(animal.image_url) %>
     <% end %>
     
   </li>&nbsp;
<% end %>

